{% extends 'main/base.html'%}
{% load static %}
{% block title %}{{ title }}Milina{% endblock %}

{% block content %}

      <!-- our pricing -->
      <div  class="pricing slin">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3> <span>$</span>20<strong>/one Day</strong></h3>
                     </div>
                     <div class="our_pricing">
                        <span>Regular</span>
                        <p>By purchasing a premium set, you get a one-time visit from a new master.
You get the whole range of services in two and a half hours and with high quality.</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3> <span>$</span>30<strong>/one Day</strong></h3>
                     </div>
                     <div class="our_pricing">
                        <span>Standard</span>
                        <p>By purchasing a premium set, you get a one-time visit from the base master.
You get the whole range of services in two hours and with high quality.</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
               </div>
               <div class="col-md-4">
                  <div class="pricing_box">
                     <div class="pricing_box_ti">
                        <h3> <span>$</span>40<strong>/one Day</strong></h3>
                     </div>
                     <div class="our_pricing">
                        <span>Premium</span>
                        <p>By purchasing a premium set, you get a one-time visit from a top master.
You get a full range of services quickly and efficiently.a</p>
                     </div>
                  </div>
                  <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end our pricing -->
{% endblock %}

